apiVersion: v1
kind: Secret
metadata:
  name: domain-service-account-secret
type: Opaque
data:
  username: {{ model.DOMAIN_SERVICE_ACCOUNT_USERNAME }}
  password: {{ model.DOMAIN_SERVICE_ACCOUNT_PASSWORD }}
